.head{
    box-sizing: border-box;
    width: 100%;
    height: 132px;
    text-align: center;
    line-height: 132px;
    border-bottom: 1px solid #d1d1d1;
    background: #3b3e45;
    span{
        color: #fff;
    }
}