.list{
    width: 100%;
    height: 100%;
    overflow: auto;
    ul{
        width: 100%;
        height: auto;
        li{
            box-sizing: border-box;
            padding: 26px;
            width: 100%;
            height: 232px;
            border-bottom: 1px solid #d1d1d1;
            div{
                float: left;
                width: 131px;
                height: 179px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            dl{
                box-sizing: border-box;                
                float:right;
                width: 870px;
                height: 179px;
                dt{
                    margin-top: 10px;                    
                    font-size: 43px;
                    color: #404040;
                }
                dd{
                    margin-top: 15px;
                    width: 100%;
                    font-size: 34px;
                    color: #666;
                    white-space: nowrap;
                    text-overflow:ellipsis;
                }
            }
        }
    }
}