.themeHead{
    box-sizing: border-box;
    width: 100%;
    height: 132px;
    background: #3b3e45;
    overflow: hidden;
    div{
        margin-top: 45px;
        i{
            color: #fff;
            font-size: 40px;
            margin-left: 20px;
        }
        span{
            font-size: 42px;
            color: #fff;
            margin-left: 12px;            
        }
    }   
}